Flask==2.1.0
Flask-MySQLdb==1.0.1
Authlib==1.0.1
pyotp==2.6.0
qrcode==7.3
bcrypt==3.2.0
pluggy==1.0.0
python-dotenv==0.19.2
requests==2.27.1
cryptography==36.0.1
PyJWT==2.3.0
Flask-SSLify==0.1.5
mysqlclient==2.1.0
pandas==1.4.2
prophet==1.0.1
plotly==5.6.0
Cython==0.22
numpy==1.21.0
pip>=23.0.0
setuptools>=64.0.0