body, html {
  height: 100%;
  margin: 0;
  font-family: 'Poppins';;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;

}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.content {
  display: flex;
  width: 100%;
  height: 100%; 
}

.flash-messages {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  width: 300px;
  animation: fadeIn 2s ease-out;
}

.alert {
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
}

.alert.success {
  background-color: #4CAF50;
}


@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Estilo do Modal */
.modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 8px;
  width: 30%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  margin-top: 0;
  font-size: 24px;
  color: #4CAF50; 
}

.modal-content p {
  font-size: 16px;
  color: #555;
}

.modal-content .button {
  margin-top: 20px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.left-content {
  flex: 1;
  background-color: rgba(50, 23, 209, 0.11); 
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;

}

.left-content h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
}

.left-content p {
  font-size: 16px;
  color: #555;
  margin-bottom: 30px;
  text-align: center;
}


.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 600px;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s;
  height: 100%;
}

.carousel-item {
  width: 100%;
  display: none;
  height: 100%;
}

.carousel-item.active {
  display: block;
}

.carousel-item img {
  width: 100%;
  height:auto;
  object-fit: cover;
}
.carousel-item object {
  width: 100%;
  height: 500px;
}

.carousel-item object svg {
  width: 100%;
  height: 100%;
}

.dots {
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: rgba(50, 23, 209, 0.11);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s;
}

.dot.active {
  background-color: rgba(51, 23, 209, 0.69);
}

.right-content {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  text-align: center; 
}

.right-content h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.right-content p {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.input-field-container {
  margin-bottom: 20px;
}

.input-field-container label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-size: 14px;
}

.input-field {
  margin: 0 auto;
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.register-link {
  color: #007bff;
  font-size: 14px;
  text-decoration: none;
  display: block;
  margin: 20px 0;
}

.register-link:hover {
  text-decoration: underline;
}

.button {
  margin: 0 auto; 
  width: 50%;
  padding: 12px;
  background-color: hsl(250, 84%, 7%);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.button:hover {
  background-color: #333;
}

.social-buttons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-direction: column;
}

.social-button {
  width: 48%;
  padding: 10px;
  font-size: 14px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.social-button img {
  width: 20px;
  margin-right: 0px;
  
}

.social-button:hover {
  background-color: #f0f0f0;
}

.error {
  color: #f00;
  font-size: 16px;
  margin-top: 5px;
}

.msg {
  color: #f00;
  font-size: 16px;
  margin-top: 5px;
}

.logo img {
  height: 50px;
}
