<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jarvis Advisor</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.png') }}">
</head>
<body>
  <div class="container">
      <div class="content">
          <div class="left-content">
            <div class="logo">
                <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='img/back.png') }}" alt="Jarvis Advisor"></a>
            </div>
              <div class="carousel-container">
                  <div class="carousel-inner">
                      <div class="carousel-item">
                          <img src="{{ url_for('static', filename='img/img1.svg') }}" alt="Image 1">
                      </div>
                      <div class="carousel-item">
                          <img src="{{ url_for('static', filename='img/img2.svg') }}" alt="Image 2">
                      </div>
                      <div class="carousel-item">
                          <img src="{{ url_for('static', filename='img/img3.svg') }}" alt="Image 3">
                      </div>
                  </div>  
                  <div class="dots">
                      <span class="dot active"></span>
                      <span class="dot"></span>
                      <span class="dot"></span>
                  </div>
              </div>
                <h2>Controle Sua Vida Financeira</h2>
                <p>Conecte suas contas e adicione suas despesas para receber dicas valiosas para o seu bolso</p>
          </div>
          <div class="right-content">
            <div class="form-container">
            <h2>👋 Bem Vindo de Volta!</h2>
            <p>Por favor faça login para acessar sua conta.</p>
            </div>
            <form action="{{ url_for('login') }}" method="post">
                <div class="input-field-container">
                    <label for="email">E-mail </label>
                    <input type="email" id="email" name="email" placeholder="Digite seu E-mail " class="input-field" required>
                </div>
                <div class="input-field-container">
                    <label for="password">Senha</label>
                    <input type="password" id="password" name="password" placeholder="Digite sua Senha" class="input-field" required>
                </div>
                <a href="#" class="register-link">Esqueceu sua Senha?</a>
                <div class="msg">
                    {% if msg %}
                        <div class="alert error">
                            {{ msg }}
                        </div>
                    {% endif %}
                <button class="button" type="submit">Login</button>
                
                <div class="social-buttons">
                    <a href="{{ url_for('google') }}" class="social-button" style="text-decoration:none;">
                        <img id="google" src="{{ url_for('static', filename='img/google.svg') }}" alt="Google" style="width:20px;height:20px;">
                            <div class="btn-text">
                                Entrar com o Google
                            </div>
                    </a> 
                <div class="social-buttons">
                    <a href="{{ url_for('google') }}" class="social-button" style="text-decoration:none;">
                        <img id="google" src="{{ url_for('static', filename='img/apple.svg') }}" alt="Google" style="width:20px;height:20px;">
                            <div class="btn-text">
                                Entrar com a Apple
                            </div>
                    </a> 
                </div>
                <p class="register-link">Nao tem uma conta? <a href="{{ url_for('register') }}">Registre-se!</a></p>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>