<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.pluggy.ai/pluggy-connect/v2.7.0//pluggy-connect.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/react-pluggy-connect@latest"></script>
    <title>Open Finance - Jarvis</title>
</head>
    <body>
        {% extends 'layout.html' %}

        {% block title %}{% endblock %}

        {% block content %}
            <section class="open-finance">
            <div class="container">
                <div class="content">
                    <h2>Open Finance</h2>
                    <p>Conecte suas contas bancárias de forma segura</p>
    
                    <div class="connected-banks">
                        <h3>Bancos Conectados</h3>
                        <div id="bankList">
                            <div class="checking-accounts-container">
                                <h5>Contas Correntes</h5>
                                <div class="account-list">
                                    <!-- Os itens das contas correntes serão inseridos aqui -->
                                </div>
                            </div>
                        
                            <div class="credit-cards-container">
                                <h5>Cartões de Crédito</h5>
                                <div class="credit-card-list">
                                    <!-- Os itens dos cartões de crédito serão inseridos aqui -->
                                </div>
                            </div>
                        </div>
                    </div>
    
                        <button id="connectButton" class="connect-button" onclick="openPluggyWidget()">
                            <i class="fas fa-plus-circle"></i>
                            Conectar Nova Conta
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script type="text/javascript" src="{{ url_for('static', filename='js/open_finance_scripts.js') }}"></script>
        {% endblock %}
    </body>
</html>
