<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/report.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Profile - Jarvis Advisor</title>
</head>
<body>
            {% extends 'layout.html' %}

            {% block title %}Relatório Financeiro - Jarvis Advisor{% endblock %}
            
            {% block content %}
            <h1>Relatório Financeiro - {{ datetime.now().year }}</h1>
</header>
        <main>
            <div class="metrics">
                <div class="metric">
                    <h2>Total de Receitas</h2>
                    <p>{{ total_receitas | formata_moeda }}</p>
                </div>
                <div class="metric">
                    <h2>Total de Despesas</h2>
                    <p>{{ total_despesas | formata_moeda }}</p>
                </div>
                <div class="metric">
                    <h2>Balanço Final</h2>
                    <p>{{ saldo_total | formata_moeda }}</p>
                </div>
                <div class="metric">
                    <h2>Saldo Conta</h2>
                    <p>{{ saldo_conta | formata_moeda }}</p>
                </div>
            </div>
            <div class="charts">
                <h2>Contagem de Receitas e Despesas</h2>
                <div class="chart-row">
                    <div id="contagem_receitas"></div> 
                    <div id="contagem_despesas"></div>
                </div>
                <h2>Entradas e Saidas</h2>
                <div class="chart-row">
                    <div id="fluxo"></div>
                    <div id="evolucao"></div>
                </div>
                <h2>Para onde meu dinheiro esta indo</h2>
                <div class="chart-row">
                    <div id="gastos_categoria"></div>
                    <div id="receitas_categoria"></div>
                </div>
                <h2>Saldo Total</h2>
                <div class="chart-row">
                    <div id="saldo"></div>
                </div>

            </div>
            </main>
            <script>
                Plotly.newPlot('contagem_receitas', {{ plot_contagem_receitas | safe }}); 
                Plotly.newPlot('contagem_despesas', {{ plot_contagem_despesas | safe }}); // Gráfico de contagem de despesas
                Plotly.newPlot('fluxo', {{ plot_fluxo | safe }});
                Plotly.newPlot('evolucao', {{ plot_evolucao | safe }});
                Plotly.newPlot('saldo', {{ plot_saldo | safe }});
                Plotly.newPlot('gastos_categoria', {{ plot_gastos_categoria | safe }});
                Plotly.newPlot('receitas_categoria', {{ plot_receitas_categoria | safe }});
            </script>
        {% endblock %}
        </div>
</body>
</html>
